<div class="modal">
    <ion-header-bar>
        <h1 class="title">Verzendadres</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Sluit</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <p class='item item-text-wrap'>
            Het lijkt erop dat je nog geen adres hebt opgegeven.
            Vul alles in.
        </p>
        <form name="shippingForm" novalidate>
            <div class="item item-divider">
                Adres
            </div>
            <label class="item item-input">
                <span class="input-label">Voornaam*:</span>
                <input ng-model="shipping_address.first_name" type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Achternaam*:</span>
                <input ng-model="shipping_address.last_name" type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Bedrijf:</span>
                <input ng-model="shipping_address.company" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Adres (1)*:</span>
                <input ng-model="shipping_address.address_1" type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Adres (2):</span>
                <input ng-model="shipping_address.address_2" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Woonplaats*:</span>
                <input ng-model="shipping_address.city" type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Postcode*:</span>
                <input ng-model="shipping_address.postcode" type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Land*:</span>
                <input ng-model="shipping_address.country" type="text" required>
            </label>
            <div class="padding">
            <button class="button button-block button-positive" ng-click="shippingModalAccept()" ng-disabled="shippingForm.$invalid">
            Ga naar PayPal betaling
            </button>
            </div>
        </form>
    </ion-content>
</div>
